<h3 class="mb-4">Archive</h3>
<div style="margin-bottom: 30px">
  <% @tasks.each do |task| %>
    <article class="card mt-3 form-control-lg" style="border-color: #8e00ba">
      <div class="card-body">
        <section>
          <p class="my-2">
            <%= task.title %>
          </p>
        </section>

        <%= link_to 'Результаты', result_user_task_path(task), class: 'btn btn-primary' %>
      </div>
    </article>
  <% end %>
</div>

<div class="position-fixed" style="top: 50%; left: 20px;">
  <%= link_to user_tasks_path, class: 'btn btn-secondary' do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
</div>
