<h1>Таски</h1>
<%= render @tasks %>

<div class="position-fixed" style="top: 50%; right: 20px;">
  <%= link_to archive_user_tasks_path, class: 'btn btn-secondary' do %>
    <i class="bi bi-arrow-right"></i>
  <% end %>
</div>