<div class="row g-4 mt-2">
  <div class="col-md-6">
    <h5><%= t('.tests') %></h5>
    <div class="row row-cols-1 g-4">
      <%= render @tests %>
    </div>
  </div>

  <div class="col-md-6">
    <h5><%= t('.essays') %></h5>
    <div class="row row-cols-1 g-4">
      <%= render @essays %>
    </div>
  </div>
</div>
