<tr>
  <td><%= student.name %></td>
  <td><%= student.group %></td>
  <td>
    <div class="btn-wrapper">
      <%= link_to t('.show'),
                  admin_student_path(student),
                  class: 'btn text-white',
                  style: "background-color: #6610f2;" %>
      <%= link_to t('.delete'), admin_student_path(student),
                  class: 'btn text-white',
                  style: "background-color: #6610f2;",
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>
  </td>
</tr>
