<div class="container mt-3">
  <input type="text" id="searchInput" class="form-control" placeholder="Search by group..." aria-label="Search">
  <table class="table table-striped", id="student-table">
    <thead>
    <tr>
      <th scope="col"><%= t('.name') %></th>
      <th class="sortable" scope="col"><%= t('.group') %></th>
      <th scope="col"><%= t('.teacher_id') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'student', collection: @students %>
    </tbody>
  </table>
</div>
