<div class="container">
  <h1>Информация о студенте <%= @student.name %></h1>
  <% @student.user_uniq_tasks.each do |task| %>
    <article class="card mt-3 form-control-sm" style="border-color: #8e00ba">
      <div class="card-body">
        <section>
          <p class="my-2">
            <%= task.title %>
          </p>
        </section>

        <%= link_to 'Результаты', task_result_admin_student_path(@student, task), class: 'btn btn-primary' %>
      </div>
    </article>
  <% end %>
</div>
