<div class="container">
  <h3><%= t('.info') %> <%= @student.name %></h3>
  <% @student.user_uniq_tasks.each do |task| %>
    <article class="card mt-3 form-control-sm" style="border-color: #118098">
      <div class="card-body">
        <section>
          <p class="my-2">
            <%= task.title %>
          </p>
        </section>

        <%= link_to t('.results'), task_result_admin_student_path(@student, task), class: 'btn btn-primary' %>
      </div>
    </article>
  <% end %>
</div>
