<h2>Tasks</h2>
<%= render @tasks %>
<div class="position-fixed" style="top: 50%; left: 20px;">
  <%= link_to admin_tasks_path, class: 'btn btn-secondary' do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
</div>
