<h1 class="mb-4">Test</h1>
<div style="margin-bottom: 30px">
  <article class="card mt-3">
    <section>
      <p class="my-10">
        Title:  <%= @task.title %>
      </p>
    </section>
  </article>
</div>
<%= render @tests %>
