<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    🌓 <%= cookies[:theme] %>
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
    <li><%= link_to t('.light'), set_theme_path(theme: 'light'), class: 'theme-link dropdown-item' %></li>
    <li><%= link_to t('.dark'), set_theme_path(theme: 'dark'), class: 'theme-link dropdown-item' %></li>
    <li><%= link_to t('.system'), set_theme_path, class: 'theme-link dropdown-item' %></li>
  </ul>
</div>
