<dialog id="turbo-confirm">
  <form method="dialog">
    <p>Are you sure?</p>
    <div>
      <button class="btn btn-secondary" value="cancel">Cancel</button>
      <button class="btn btn-primary" value="confirm">Confirm</button>
    </div>
  </form>
</dialog>
