<dialog id="turbo-confirm">
  <form method="dialog">
    <p><%= t('.confirm') %></p>
    <div>
      <button class="btn btn-danger" value="cancel"><%= t('.cancel') %></button>
      <button class="btn btn-primary" value="confirm"><%= t('.confirmation') %></button>
    </div>
  </form>
</dialog>
