<h1 class="mb-4">Essay</h1>
<div style="margin-bottom: 30px">
  <article class="card mt-3">
    <section>
      <p class="my-10">
        Title:  <%= @essay.title %>
      <p>
        Description: <%= @essay.description %>
      </p>
      <p>
        Min length: <%= @essay.min_length %>
      </p>
      <p>
        <img src="<%= @essay.image_url %>">
      </p>

    </section>
  </article>
</div>
