<article class="card mt-3" style="border-color: #118098">
  <div class="card-body">
    <section>
      <p class="my-2">
        <%= question.body %>
      </p>
    </section>

    <%= link_to t('.show'), admin_question_path(question),
                class: 'btn text-white',
                style: "background-color: #6610f2;" %>
    <%= link_to t('.edit'), edit_admin_question_path(question),
                class: 'btn text-white',
                style: "background-color: #6610f2;" %>
    <%= link_to t('.delete'), admin_question_path(question),
                class: 'btn text-white',
                style: "background-color: #6610f2;",
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</article>
