@media (max-width: 768px) {
  #turbo-confirm {
    width: 80%;
  }
}

@media (min-width: 769px) {
  #turbo-confirm {
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
  }

  #turbo-confirm p {
    margin-bottom: 20px;
    color: white;
  }

  #turbo-confirm button {
    margin-right: 10px;
  }
}
